{% extends "default.html" %}

{% block title %} Conversation list {% endblock %}

{% block body %}
        <h2>{{ g.user['username'] }}'s conversations</h2>
		<a href="{{url_for('conv_add_page')}}">Add a conversation</a>
		
        {% for item in conversations %}
			<p>
				<b>{{ item['title'] }}</b><br>
				<b>Recipient: </b>{{ item['user2_id'] | username_from_id }}<br>
				<b>Post day: </b>{{ item['conversation_timestamp'] | pretty_date }}<br>
				<a href="/conv_view/{{ item['conversation_id'] }}">View</a>
			</p>
		{% else %}
			<p>You have no conversations</p>
		{% endfor %}
{% endblock %}