{% extends "default.html" %}

{% block title %} Conversation view {% endblock %}

{% block body %}
	<a href="{{url_for('conv_list_page')}}">&lt; Back to conversation list</a>
	
    <h2>Conversation: {{ conversation['title'] }}</h2>

	{% if hide_editor %}
        You have to wait for your friend to submit a post
    {%else%}
        <p><form action="" method="POST">
            <p><textarea rows="4" cols="50" name="text"></textarea></p>
            <p><input type="submit" value="Save draft"></p>
        </form></p><br><br>
    {%endif%}
	{% for message in messages %}
		
			<h6>From {{ message['sender_id'] | username_from_id }} at 
			   {{ message['message_timestamp'] | pretty_date }}</h6>
			<p>{{ message['message_text'] }}</p>
		
	{% else %}
		<p>This conversation has no messages</p>
	{% endfor %}
	
{% endblock %}