<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}"/>
    <title>
        parcel: {% block title %} Insert New Title Here {% endblock %}
    </title>
</head>
<body>
    <div id="wrapper">
        <h1>
            PARCEL
        </h1>
        <nav>
		{% if g.user %}
			Hello, {{ g.user['username'] }} (<a href="{{url_for('logout_page')}}">Log Out</a>)
		{% else %}
            <a href="{{url_for('login_page')}}">Login</a>
            <a href="{{url_for('register_page')}}">Register</a>
        {% endif %}
		</nav>
        <div id="body">
            {% block body %}{% endblock %}
        </div>
    </div>
Copyright Parcel 2014
</body>

</html>