{% extends "default.html" %}
{% block title %} Register {% endblock %}
{% block body %}
      <h1>Login to Web App</h1>
	  {% if error %} <div class="error"> {{ error }} </div> {% endif %}
      <form method="post" action="">
        <p><input type="text" name="username" value="" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        </p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
    {% endblock %}